header {
    width: 100%;
    background-color: black;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: clear;
    padding: 10px 0;
}

li {
    display: block;
    float: left;
    padding-left: 5%;
    color: aqua;
}

body {
    background-image: url("Gtitle.jpg"); 
    max-width: 100%;
    margin: auto;
    margin-top: 6%;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center; /*Center the image*/
    background-repeat: no-repeat; /*self explanatory*/
    background-size: cover; /*Make the image cover the entire web page*/
}

h1 {
    padding-top: 8%;
    padding-left: 4%;
    text-decoration: underline;
}

footer {
    color: white;
    background-color: black;
    display: flex;
    text-align: right;
}

.content {
    color: white; /*Set font color for all div containers*/
    background-color: #161A30;
}

p {
    padding-left: 1em;
    padding-right: 1em;
    display: block;
    text-align: center;
}

.collection {
    display: flex;
    flex-wrap: wrap; /*flex-wrap make it that image box stacks when the page shrink */
}

img {
    display: block;
    width: 49%;
    padding: 5px;
    object-fit: cover;

}

.showcard {
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    width: 80%;
    height: auto;
}
